@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.nav{
    background-color: #F55A5A;
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    color: white;
    font-weight: 400px;
    gap: 5px;
}

.nav--icon{
    height: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(200deg) brightness(104%) contrast(103%);
}